<!DOCTYPE html>
<html>
<head>
    <title>MyMVC</title>
</head>
<body style="background-color:maroon;">
    @using (Html.BeginForm())
    {
    
        <input type="submit" value="Register Me" />
        @RenderBody()
    }
</body>
</html>

